html{
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;

    color: #fff;
}

body{
    font-family: sans-serif;
    font-size: 16px;
    background-color: #141313;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container{
    max-width: 400px;
    margin: 0 auto;
    display: grid;
    justify-content: center;

    grid-template-areas:
        "titulo titulo titulo titulo"
        "result result result clear"
        "uno dos tres suma"
        "cuatro cinco seis resta"
        "siete ocho nueve multiplicacion"
        "division cero punto igual";

    grid-template-columns: repeat(4, 70px);
    grid-template-rows: repeat(6, 75px);

    gap: .3rem;
}

@media screen and (min-width: 375px) {
    .container{
        grid-template-columns: repeat(4, 80px);
        grid-template-rows: repeat(6, 80px);
    }
}

.container h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: titulo;
}

button{
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: .3rem;
    cursor: pointer;
    background-color: #2f3332;
}

.result{
    border-radius: .3rem;
    border: none;
    outline: none;
    background-color: #2f3332;
    font-weight: bold;
    font-size: 1.5rem;
}

.container .result{
    grid-area: result;
}

.container .clear{
    grid-area: clear;
    background-color: #e91a1a;
}

.container .uno{
    grid-area: uno;
}
.container .dos{
    grid-area: dos;
}
.container .tres{
    grid-area: tres;
}
.container .tres{
    grid-area: tres;
}
.container .cuatro{
    grid-area: cuatro;
}
.container .cinco{
    grid-area: cinco;
}
.container .seis{
    grid-area: seis;
}
.container .siete{
    grid-area: siete;
}
.container .ocho{
    grid-area: ocho;
}
.container .nueve{
    grid-area: nueve;
}
.container .suma{
    grid-area: suma;
}
.container .resta{
    grid-area: resta;
}
.container .multiplicacion{
    grid-area: multiplicacion;
}
.container .division{
    grid-area: division;
}
.container .cero{
    grid-area: cero;
}
.container .punto{
    grid-area: punto;
}
.container .igual{
    grid-area: igual;
}

.output{
    text-align: end;
    height: calc(75px/2);
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: .7rem;
    padding-left: .7rem;
    color: #fff5;
    overflow: hidden;
}
.input{
    text-align: start;
    height: calc(75px/2);
    padding-right: .7rem;
    padding-left: .7rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.input:empty:not(:focus):before {
    content: attr(data-placeholder);
    color: #fff5;
}